ytmusic-nav-bar {
    background: white !important;

    .left-content [aria-label="Home"] {
        background: url(https://play-music.gstatic.com/fe/aa1d36d090084eb930e7980d07426111/play_music.svg);
        padding: 8px;
        border-radius: 5px;
        width: 170px;
        height: 48px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        picture {
            display: none !important;
        }
    }
}


iron-dropdown.ytmusic-popup-container{
    ytd-multi-page-menu-renderer {
        background: white !important;
    }

    ytd-active-account-header-renderer {
        background: white !important;
    }
} 

tp-yt-paper-listbox {
    background: $light-background;

    > *:hover {
        background: $light-hover;

        a {
            background: $light-hover;
        }
    }
}

ytmusic-menu-renderer {
    color: $dark-text;
}

tp-yt-paper-icon-button {
    opacity: 0.8 !important;
}

ytmusic-tabs.stuck {
    background: $light-hover;
}