
ytmusic-player-page {
    background: #f5f5f5 !important;
    
    #player-page {
        .ytmusic-player-page {
            background: #f5f5f5 !important;
        }    
    }

    paper-tab {
        color: black !important;
    }
    
    tp-yt-paper-tab {
        color: black !important;
        border-bottom: 1px solid #ff794e;
    }
} 
