@import "./vars";
@import "./scroll";
@import "./playlist";
@import "./nav";
@import "./context-menu";
@import "./promo";
@import "./player-bar";
@import "./player-page";
@import "./search";
@import "./album";
@import "./artist";
@import "./subscribe";
@import "./settings";
@import "./icons";

body,
html {
    background: $light-background;
    color: $dark-text;
    --ytmusic-detail-header: $dark-text;
    --ytmusic-nav-bar: $dark-text;
    --yt-spec-text-primary: $dark-text;
    --yt-endpoint-visited-color: $dark-text;
}

yt-formatted-string,
a {
    color: $dark-text;
}

ytd-compact-link-renderer:hover {
    background: $light-background;
}

ytmusic-app-layout > [slot=nav-bar] {
    width: 100vw !important;
}

ytmusic-tab-renderer iron-label {
    color: $dark-text;
}

ytmusic-navigation-button-renderer[button-style=STYLE_OUTLINE_BORDER] button.ytmusic-navigation-button-renderer {
    border: 1px solid $light-background;
}

ytmusic-item-section-tab-renderer[selected="true"] yt-formatted-string {
    border-bottom: 2px solid $dark-text;
}
