html::-webkit-scrollbar {
    background: #6b6b6b !important;
}

html::-webkit-scrollbar-track {
    background: white !important;
}

html::-webkit-scrollbar-thumb {
    background: #a0a0a0 !important;
}

html::-webkit-scrollbar-thumb:active {
    background: #6b6b6b !important;
}
