@import "./vars";

.ytmusic-search-box {
    color: $dark-text;
    background: $light-background;
    border: 0 !important;
    &[opened] {
        border: 0 !important;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;

        .search-container .search-box {
            background: $light-background;
        }
    }

    #input {
        caret-color: #5a5a5a !important;
        color: black;
        
        &::placeholder {
            color: #6b6b6b !important;
        }
    }
}

ytmusic-search-suggestions-section {
    border-top: 1px solid #ccc !important;
}


#suggestions, ytmusic-search-suggestion {
    background:  $light-background;

    ytmusic-search-suggestion {
        background:  $light-background;

        &:hover {
            background: $light-hover;
        }
    }
}