ytmusic-search-box {
    color: black !important;
    background: white !important;
    &[opened] {
        border: 0 !important;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;

        .search-container .search-box {
            background: #f5f5f5 !important;
        }

        #suggestions {
            background: white !important;

            ytmusic-search-suggestion {
                background: white !important;

                &:hover {
                    background: #eeeeee !important;
                }
            }
        }
    }

    #input {
        caret-color: #5a5a5a !important;
        color: black;
        
        &::placeholder {
            color: #6b6b6b !important;
        }
    }
}

ytmusic-search-suggestions-section {
    border-top: 1px solid #ccc !important;
}
